<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path("activity_list") }}"><img src="{{asset('assets/img/logo_ENI_global_BLANC.png')}}" width="100px"></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path("activity_list") }}">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mon profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Se déconnecter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Se connecter</a>
            </li>
        </ul>
    </div>
</nav>