{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}
{% block h2 %}Administration{% endblock %}

{% block body %}
    <a href="{{ path('admin_site_create') }}" class="btn btn-primary">Créer un site</a>
    <a href="{{ path('admin_user_create') }}" class="btn btn-primary">Créer un user</a>
    <a href="{{ path('admin_user_import') }}" class="btn btn-primary">Importer un fichier .csv</a>
    <a href="{{ path('admin_presentation') }}" class="btn btn-secondary">Carnet de bord du projet</a>

{% endblock %}
