{% extends 'base.html.twig' %}

{% block title %}Présentation{% endblock %}
{% block h2 %}Présentation du projet{% endblock %}
{% block body %}

    <aside class="pres-aside">
        <ul>
            <li>Étape 1 : la bonne destination</li>
            <li>Étape 2 : le bon matériel</li>
            <li>Étape 3 : les bons explorateurs</li>
            <li>Étape 4 : le bon départ ?</li>
            <li>Analyse</li>
            <li>Gestion de projet</li>
            <li>Expérience</li>
            <li>Reste à faire</li>
            <li>Évolutions</li>
            <li>Conclusion</li>
        </ul>
    </aside>

    <div class="pres-div">
        <h3>Étape 1 : la bonne destination</h3>
        <div>
            <p>Objectif : déterminer la raison d'être du projet, les besoins du client, si ceux-ci sont en accord avec ses demandes, les éléments à ne pas rater, etc.</p>
            <ul>
                <li>La société ENI veut une plateforme web permettant d'organiser des sorties entre stagiaires actifs et anciens.</li>
                <li>La plateforme doit être privée : seuls les personnes inscrites peuvent consulter le site au-delà de la page de connexion.</li>
                <li>Les inscriptions sont gérées par des administrateurs.</li>
                <li>Les sorties et les participants ont un site de rattachement, qui correspond aux différents campus de l'ENI</li>
                <li>Un accès sur les tablettes et les smartphones doit être possible, c'est plus pratique de nos jours.</li>
            </ul>
            <h4>(on en reparle plus tard :)</h4>
            <ul>
                <li>Faire du lien extra-formation</li>
                <li>Proposer des activités sportives, culturelles, etc.</li>
            </ul>
        </div>
    </div>

    <div class="pres-div">
        <h3>Étape 2 : le bon matériel</h3>
        <div>
            <div class="card bg-light mb-3" style="max-width: 20rem;">
                <div class="card-header">SERVEUR WEB</div>
                <div class="card-body">
                    <h4 class="card-title">Wamp Server 3</h4>
                    <p class="card-text">Environnement de développement web qui regroupe Apache, MySQL et PHP.</p>
                </div>
            </div>
            <div class="card bg-light mb-3" style="max-width: 20rem;">
                <div class="card-header">BDD</div>
                <div class="card-body">
                    <h4 class="card-title">PhpMyAdmin</h4>
                    <p class="card-text">Application wev de gestion de bases de données MySQL et MariaDB.</p>
                </div>
            </div>
            <div class="card bg-light mb-3" style="max-width: 20rem;">
                <div class="card-header">ÉDITEUR DE CODE</div>
                <div class="card-body">
                    <h4 class="card-title">PhpStorm</h4>
                    <p class="card-text">IDE spécialement conçu pour le développement PHP.</p>
                </div>
            </div>
            <div class="card bg-light mb-3" style="max-width: 20rem;">
                <div class="card-header">LANGAGE - FRAMEWORK</div>
                <div class="card-body">
                    <h4 class="card-title">PHP et Symfony</h4>
                    <p class="card-text">Rien à dire de particulier.</p>
                </div>
            </div>
            <div class="card bg-light mb-3" style="max-width: 20rem;">
                <div class="card-header">DÉPENDANCES</div>
                <div class="card-body">
                    <h4 class="card-title">Composer</h4>
                    <p class="card-text">Un gestionnaire de dépendances pour PHP qui facilite l'installation, la mise à jour et la gestion des bibliothèques et des packages tiers utilisés dans le développement.</p>
                </div>
            </div>
            <div class="card bg-light mb-3" style="max-width: 20rem;">
                <div class="card-header">GESTION DE VERSIONS</div>
                <div class="card-body">
                    <h4 class="card-title">Git et Github</h4>
                    <p class="card-text">Un système de contrôle de version largement utilisé pour la gestion du code source, la collaboration et le suivi des modifications apportées aux fichiers.</p>
                </div>
            </div>
            <div class="card bg-light mb-3" style="max-width: 20rem;">
                <div class="card-header">CSS</div>
                <div class="card-body">
                    <h4 class="card-title">Bootstrap</h4>
                    <p class="card-text">Framework HTML, CSS et Javascript pour développer des sites mobile-first et responsive (entre autres).</p>
                </div>
            </div>
        </div>
    </div>

    <div class="pres-div">
        <h3>Étape 3 : les bons explorateurs</h3>
        <div class="equipe-membres">
            <div class="equipe-membre">
                <div class="card mb-3">
                    <h3 class="card-header">Maïwenn Julien</h3>
                    <div class="card-body">
                        <h5 class="card-title">Cheffe de projet</h5>
                        <h6 class="card-subtitle text-muted">Destructrice de bugs, Créatrice de Fausses Données</h6>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                        <rect width="100%" height="100%" fill="#868e96"></rect>
                        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
                    </svg>
                    <div class="card-body">
                        <p class="card-text"><a href="#">Retour d'expérience</a></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Import des utilisateurs par fichier .csv</li>
                        <li class="list-group-item">Authentification, connexion, sécurité</li>
                        <li class="list-group-item">Logo</li>
                    </ul>
                </div>
            </div>
            <div class="equipe-membre">
                <div class="card mb-3">
                    <h3 class="card-header">Hadhemi Enneb</h3>
                    <div class="card-body">
                        <h5 class="card-title">Développement de fonctionnalités</h5>
                        <h6 class="card-subtitle text-muted">Ambassadrice ChatGPT, Diplomate StackOverFlow, Dresseuse de Fonctionnalités compliquées mais 	indispensables</h6>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                        <rect width="100%" height="100%" fill="#868e96"></rect>
                        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
                    </svg>
                    <div class="card-body">
                        <p class="card-text"><a href="#">Retour d'expérience</a></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">S'inscrire, se désister d'une sortie</li>
                        <li class="list-group-item">Choix des lieux en fonction des villes</li>
                        <li class="list-group-item">Redirection vers les pages "appelantes"</li>
                    </ul>
                </div>
            </div>
            <div class="equipe-membre">
                <div class="card mb-3">
                    <h3 class="card-header">Ken Poulmarch</h3>
                    <div class="card-body">
                        <h5 class="card-title">Gestion des activités, graphismes</h5>
                        <h6 class="card-subtitle text-muted">Enfanteur de BDD, Créateur d'Entités (dieu primordial, quoi), Pablo PicaCSS</h6>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                        <rect width="100%" height="100%" fill="#868e96"></rect>
                        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
                    </svg>
                    <div class="card-body">
                        <p class="card-text"><a href="#">Retour d'expérience</a></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Filtres de recherche</li>
                        <li class="list-group-item">Graphismes et responsive</li>
                        <li class="list-group-item">Création d'entités</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="pres-div">
        <h3>Étape 4 : le bon départ ?</h3>
        <div>
            <div>
                <h4>Analyse de la situation</h4>
                <p>On a : des administrateurs (tout puissants), des lieux, des organisateurs, des participants, des sorties, des sites (des campus, pas des ninjas du dark side).</p>
                <p>D'après les schémas fournis par notre commanditaire, l'administrateur est un utilisateur, qui est aussi un participant et parfois un organisateur. Un administrateur hérite donc de ROLE_USER.</p>
                <p>Pas de raison de changer ça.</p>
                <p>D'après le document ProcessusGestionSorties.pdf, un organisateur peut créer une sortie, la modifier ou la supprimer tant qu'elle n'est pas publiée, puis la publier. Les participants peuvent s'inscrire jusqu'à la date du RDV. Puis la sortie se passe et il n'est possible de consulter son historique que pendant un mois.</p>
            </div>
            <div>
                <h4>Analyse des données</h4>
                <p></p>
            </div>
        </div>
    </div>

    <div class="pres-div">
        <h3></h3>
        <div></div>
    </div>

    <div class="pres-div">
        <h3></h3>
        <div></div>
    </div>

    <div class="pres-div">
        <h3></h3>
        <div></div>
    </div>
    <div class="pres-div">
        <h3></h3>
        <div></div>
    </div>
    <div class="pres-div">
        <h3></h3>
        <div></div>
    </div>
    <div class="pres-div">
        <h3></h3>
        <div></div>
    </div>


{% endblock %}
