{% extends 'base.html.twig' %}

{% block title %}Présentation{% endblock %}
{% block h2 %}Présentation du projet{% endblock %}
{% block body %}

    <aside class="pres-aside">
        <ul>
            <li>Vision</li>
            <li>Technos</li>
            <li>Équipe</li>
            <li>Analyse</li>
            <li>Analyse</li>
            <li>Gestion de projet</li>
            <li>Expérience</li>
            <li>Reste à faire</li>
            <li>Évolutions</li>
            <li>Conclusion</li>
        </ul>
    </aside>

    <div class="pres-div">
        <h3>Vision du projet</h3>
        <div>
            <p>Objectif : déterminer la raison d'être du projet, les besoins du client, si ceux-ci sont en accord avec ses demandes, les éléments à ne pas rater, etc.</p>
            <ul>
                <li>La société ENI veut une plateforme web permettant d'organiser des sorties entre stagiaires actifs et anciens.</li>
                <li>La plateforme doit être privée : seuls les personnes inscrites peuvent consulter le site au-delà de la page de connexion.</li>
                <li>Les inscriptions sont gérées par des administrateurs.</li>
                <li>Les sorties et les participants ont un site de rattachement, qui correspond aux différents campus de l'ENI</li>
                <li>Un accès sur les tablettes et les smartphones doit être possible, c'est plus pratique de nos jours.</li>
            </ul>
            <h4>(on en reparle plus tard mais c'est important :)</h4>
            <ul>
                <li>Faire du lien extra-formation</li>
                <li>Proposer des activités sportives, culturelles, etc.</li>
            </ul>
        </div>
    </div>
    <div class="pres-div">
        <h3></h3>
        <div></div>
    </div>
    <div class="pres-div">
        <h3></h3>
        <div></div>
    </div>
    <div class="pres-div">
        <h3></h3>
        <div></div>
    </div>
    <div class="pres-div">
        <h3></h3>
        <div></div>
    </div>
    <div class="pres-div">
        <h3></h3>
        <div></div>
    </div>
    <div class="pres-div">
        <h3></h3>
        <div></div>
    </div>
    <div class="pres-div">
        <h3></h3>
        <div></div>
    </div>
    <div class="pres-div">
        <h3></h3>
        <div></div>
    </div>
    <div class="pres-div">
        <h3></h3>
        <div></div>
    </div>


{% endblock %}
