{% extends 'base.html.twig' %}

{% block h2 %}Créer un lieu{% endblock %}
{% block body %}

    {{ form_start(locationForm) }}
    {{ form_widget(locationForm) }}

    <button type="submit" class="btn btn-primary">Ajouter</button>
    <a href="{{ path("activity_create") }}" class="btn btn-danger">Annuler</a>

    {{ form_end(locationForm) }}

{% endblock %}