@import "~bootstrap/scss/bootstrap";

// customize some Bootstrap variables
$primary: darken(#428bca, 20%);


body {
    background-color: lightgray;
}

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightgray;
}
// customize some Bootstrap variables
$primary: darken(#428bca, 20%);


